<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="$artifact_id$"
            application="$artifact_id$.core.application">
         <property
               name="applicationCSS"
               value="platform:/plugin/$artifact_id$.core/css/default.css">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="appName"
               value="$artifact_id$.core">
         </property>
         <property
               name="applicationXMI"
               value="$artifact_id$.core/Application.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="$package$.compatibility.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="$package$.compatibility.Perspective"
            id="org.eclipse.ui.main.perspective"
            name="$artifact_id$ perspective">
      </perspective>
   </extension>

</plugin>
